{% from 'elements/icon.html' import icon %}
{% set postCategorySlug = categorySlug if categorySlug else "getting-started" %}

<!doctype html>
<html lang="{{ locale }}">
  <head>
    {% include 'head.html' %}

    <!-- Tutorials SEO & Social Metadata -->
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@STACspec" />

    {%- if noIndex === true -%}
        <meta name="robots" content="noindex, nofollow">
    {%- endif -%}

    <meta property="og:image" content="/public/images-original/STAC-01.png" />

    <title>{{ title }} | STAC Tutorials</title>
  </head>
  <body class="bg-blue-100">
    <div class="topbar">
      <div class="container flex justify-end">
        <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('en') }}">English</a>
        <!-- <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('lo-ip') }}">Lorem</a> -->
      </div>
    </div>
    <div class="md:pb-5 bg-blue-100 header-nav-tutorials-container">
      {%- include 'nav.html' -%}
    </div>
    <div class="md:flex">
      {%- include 'tutorials-nav.html' -%}
      <article class="tutorials-article">
        <div class="md:max-w-md lg:max-w-xl xl:max-w-4xl w-9/10">
          <div class="px-5 sm:px-8 md:px-12 lg:ml-5">
            {{ content | safe }}
          </div>
          {% if (content and notebooks) %}
            <div class="my-8 border-b-2 border-gray-light"></div>
          {% endif %}
          {%- for nb in notebooks -%}
            {{ nb | notebook }}
          {%- endfor -%}
        </div>
      </article>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
