{% from 'elements/icon.html' import icon %}
{% set postCategorySlug = categorySlug if categorySlug else "getting-started" %}

<!doctype html>
<html lang="{{ locale }}">
  <head>
    {% include 'head.html' %}
    <title>{{ title }} | STAC</title>
  </head>
  <body>
    <div class="topbar">
      <div class="container flex justify-end">
        <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('en') }}">English</a>
        <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('lo-ip') }}">Lorem</a>
      </div>
    </div>
    <div class="pb-5 bg-blue-100 header-nav-tutorials-container">
      {%- include 'nav.html' -%}
    </div>
    <div class="md:flex">
      {%- include 'tutorials-nav.html' -%}
      <article class="tutorials-article bg-white shadow-lg w-full pt-10 pb-12">
        <div class="{% if(container != false) %}container{% endif %}">
          {{ content | safe }}
          {% if (content and notebooks) %}
            <div class="my-8 border-b-2 border-gray-light"></div>
          {% endif %}
          {%- for nb in notebooks -%}
            {{ nb | notebook }}
          {%- endfor -%}
        </div>
      </article>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
