<div class="container">
    <div class="grid md:grid-cols-3 gap-4">
        <div class="card bg-blue-700 text-white text-center">
            <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'earth-oceania-solid' %}</div>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
        </div>
        <div class="card bg-blue-700 text-white text-center">
            <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'satellite-solid' %}</div>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
        </div>
        <div class="card bg-blue-700 text-white text-center">
            <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'moon-solid' %}</div>
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
        </div>
    </div>
</div>