---
title: "Styleguide"
layout: styleguide
---

<section class="py-5">
    <div class="container">
        <h2>Hero Style #1</h2>
    </div>

    <div class="hero-style-1">
        <div class="hero-style-1__backdrop" style="background-image: url('/public/images/satmap-xl.jpg');"></div>
        <div class="container mt-10">
            <div class="card-light text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is a heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>

    <div class="hero-style-1">
        <div class="hero-style-1__backdrop" style="background-image: url('/public/images/satmap-xl.jpg');"></div>
        <div class="container mt-10">
            <div class="card-dark text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is a heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Hero Style #2</h2>
    </div>
    <div class="md:flex">
        <div class="md:w-1/2">
            <img src="/public/images/satmap-lg.jpg" alt="">
        </div>
        <div class="md:w-1/2 text-center p-8 md:p-12 relative">
            <h2 class="text-4xl font-bold">
                <span class="font-light block">
                    Preheading
                </span>
                This is a heading
            </h2>
            <div class="my-6">
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
            </div>
            <a class="cta-primary" href="#">Lorem Ipsum</a>
        </div>
    </div>

    <div class="md:flex md:flex-row-reverse bg-blue-800 text-white">
        <div class="md:w-1/2">
            <img src="/public/images/satmap-lg.jpg" alt="">
        </div>
        <div class="md:w-1/2 text-center p-8 md:p-12 relative">
            <h2 class="text-4xl font-bold">
                <span class="font-light block">
                    Preheading
                </span>
                This is a heading
            </h2>
            <div class="my-6">
                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
            </div>
            <a class="cta-primary" href="#">Lorem Ipsum</a>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Hero Style #3</h2>
    </div>
    
    <div class="hero-style-3__top hero-style-3__top--gradient text-white">
        <div class="container">
            <div class="text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is a heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>
    <div class="hero-style-3__bottom container">
        <div class="grid md:grid-cols-3 gap-4">
            <div class="card bg-blue-800 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'earth-oceania-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
            <div class="card bg-blue-800 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'satellite-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
            <div class="card bg-blue-800 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'moon-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
        </div>
    </div>

    <div class="hero-style-3__top bg-blue-dark text-white mt-5">
        <div class="container">
            <div class="text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is a heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>
    <div class="hero-style-3__bottom container">
        <div class="grid md:grid-cols-3 gap-4">
            <div class="card bg-blue-700 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'earth-oceania-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
            <div class="card bg-blue-700 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'satellite-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
            <div class="card bg-blue-700 text-white text-center">
                <div class="text-blue-400 w-20 my-5 mx-auto">{% svg 'moon-solid' %}</div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <a class="cta-understated inline-block mb-4" href="#">Understated CTA</a>
            </div>
        </div>
    </div>
</section>