---
title: "Styleguide"
layout: styleguide
---

<section>
    <div class="container">
        <h2>Colors</h2>
        <div>
        <div class="grid grid-cols-3 gap-4">
            <div class="">
                <h3>Brand</h3>
                <div class="styleguide-color bg-blue text-white">Blue</div>
                <div class="styleguide-color bg-green">Green</div>
                <div class="styleguide-color bg-blue-dark text-white">Dark Blue</div>
                <div class="styleguide-color bg-blue-light">Light Blue</div>
            </div>
            <div class="">
                <h3>Midtones</h3>
                <div class="styleguide-color bg-blue-800 text-white">Blue - 800</div>
                <div class="styleguide-color bg-blue-700 text-white">Blue - 700</div>
                <div class="styleguide-color bg-blue-600 text-white">Blue - 600</div>
                <div class="styleguide-color bg-blue-500 text-white">Blue - 500</div>
                <div class="styleguide-color bg-blue-400">Blue - 400</div>
                <div class="styleguide-color bg-blue-300">Blue - 300</div>
                <div class="styleguide-color bg-blue-200">Blue - 200</div>
                <div class="styleguide-color bg-blue-100">Blue - 100</div>
            </div>
            <div class="">
                <h3>Neutral</h3>
                <div class="styleguide-color bg-black text-white">Black</div>
                <div class="styleguide-color bg-gray-dark text-white">Dark Gray</div>
                <div class="styleguide-color bg-gray text-white">Gray</div>
                <div class="styleguide-color bg-gray-light text-white">Light Gray</div>
                <div class="styleguide-color bg-white">White</div>
            </div>
        </div>
    </div>
</section>