---
title: "Styleguide"
layout: styleguide
---

<section class="py-5">
    <div class="container">
        <h2>Cards & Callouts</h2>
        
        <h3>Callouts</h3>
        <div class="grid grid-cols-3 gap-4 py-3">
            <div class="callout-light">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout</p>
            </div>
            <div class="callout-dark">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout</p>
            </div>
            <div class="callout-black">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout</p>
            </div>
        </div>

        <h3>Cards</h3>
        <div class="grid grid-cols-4 gap-4 py-3">
            <div class="card">
                <h3>Lorem Ipsum</h3>
                <p>I am a card</p>
            </div>
            <div class="card-light">
                <h3>Lorem Ipsum</h3>
                <p>I am a card</p>
            </div>
            <div class="card-dark">
                <h3>Lorem Ipsum</h3>
                <p>I am a card</p>
            </div>
            <div class="card-black">
                <h3>Lorem Ipsum</h3>
                <p>I am a card</p>
            </div>
        </div>

        <h3>Callout Cards</h3>
        <div class="grid grid-cols-3 gap-4 py-3">
            <div class="card callout callout-light">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout card</p>
            </div>
            <div class="card-light callout callout-dark">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout card</p>
            </div>
            <div class="card-dark callout callout-black">
                <h3>Lorem Ipsum</h3>
                <p>I am a callout card</p>
            </div>
        </div>

        <h3>Image Cards</h3>
        <div class="grid grid-cols-3 gap-4 py-3">
            <div class="card p-0 overflow-hidden">
                <img class="block w-full" src="/public/images/satmap-sm.jpg" alt="">
                <div class="px-6 py-3">
                    <h3>Lorem Ipsum</h3>
                    <p>I am a card with an image on top</p>
                </div>
            </div>
            <div class="card-light p-0 overflow-hidden">
                <img class="block w-full" src="/public/images/satmap-sm.jpg" alt="">
                <div class="callout-dark py-3 pr-6">
                    <h3>Lorem Ipsum</h3>
                    <p>I am a callout card with an image on top</p>
                </div>
            </div>
            <div class="card-dark p-0 overflow-hidden">
                <img class="block w-full" src="/public/images/satmap-sm.jpg" alt="">
                <div class="px-6 py-3">
                    <h3>Lorem Ipsum</h3>
                    <p>I am a card with an image on top</p>
                </div>
            </div>
        </div>
        <div class="card col-span-2 p-0 overflow-hidden grid grid-cols-2 my-5">
            <img class="block w-full" src="/public/images/satmap-sm.jpg" alt="">
            <div class="px-6 py-3">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur veritatis nihil quibusdam quam, vel sint earum temporibus doloremque necessitatibus dolorem repellat unde repellendus aperiam non labore reprehenderit rerum commodi quaerat.</p>
            </div>
        </div>

        <div class="">
            <h3>Icon Callout</h3>
            <div class="flex items-center py-4">
                <div class="w-20 mr-4 text-blue">{% svg 'earth-oceania-solid' %}</div>
                <div class="w-full px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veritatis earum id autem mollitia tempore voluptatum beatae cumque ullam ipsum reiciendis, dolorum blanditiis, animi illo exercitationem fuga? Repudiandae, alias voluptatem?</div>
            </div>
            <div class="flex items-center py-4">
                <div class="w-20 mr-4">{% svg 'satellite-solid' %}</div>
                <div class="w-full px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veritatis earum id autem mollitia tempore voluptatum beatae cumque ullam ipsum reiciendis, dolorum blanditiis, animi illo exercitationem fuga? Repudiandae, alias voluptatem?</div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Alerts</h2>
        <div class="alert-info">This is some information</div>
        <div class="alert-success">Good job!</div>
        <div class="alert-warning">There's something slightly wrong</div>
        <div class="alert-danger">There's something very wrong</div>
    </div>
</section>