---
title: "Styleguide"
layout: styleguide
---

<section class="py-5">
    <div class="container">
        <h2>Hero Style #1</h2>
    </div>

    <div class="hero-style-1">
        <div class="hero-style-1__backdrop" style="background-image: url('/public/images/satmap-xl.jpg');"></div>
        <div class="container mt-10">
            <div class="card-light text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is the heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>

    <div class="hero-style-1">
        <div class="hero-style-1__backdrop" style="background-image: url('/public/images/satmap-xl.jpg');"></div>
        <div class="container mt-10">
            <div class="card-dark text-center p-8 md:p-12 relative">
                <h2 class="text-4xl font-bold">
                    <span class="font-light block">
                        Preheading
                    </span>
                    This is the heading
                </h2>
                <div class="my-6">
                    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
                </div>
                <a class="cta-primary" href="#">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</section>