---
title: "Styleguide"
layout: styleguide
---

<section>
    <div class="container">
        <h1>Type</h1>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, odio, natus quae quasi nisi voluptatum quas excepturi nobis temporibus commodi voluptas sequi tempore in perferendis. Aspernatur dolor porro nostrum eum.</p>

        <label>Label</label>
    </div>
</section>