---
title: "Get Involved"
layout: default
---

<section class="py-5">
    <div class="container">
        <div class="py-6">
            <h1>{{ title }}</h1>
            <p class="text-xl mt-6 mb-8">STAC is driven by a community of lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, quo. Eos necessitatibus adipisci ad, doloremque.</p>
            <a href="/tutorials" class="cta-primary">Join Gitter Community</a>
        </div>

        <h2 class="mt-9">STAC needs help with:</h2>
        
        <div class="grid gap-5 -mb-12">
                <div class="card callout-blue-light">
                    <h3>Data Provider Adoption</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A possimus fugiat sed error, eveniet nihil liber.</p>
                    <a href="/get-involved/data-providers" class="cta-understated mb-3">Learn More</a>
                </div>
                <div class="card callout-blue-light">
                    <h3>Outreach</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A possimus fugiat sed error, eveniet nihil liber.</p>
                    <a href="/get-involved/data-users" class="cta-understated mb-3">Learn More</a>
                </div>
                <div class="card callout-blue-light">
                    <h3>Diverse tooling</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A possimus fugiat sed error, eveniet nihil liber.</p>
                    <a href="/get-involved/developers" class="cta-understated mb-3">Learn More</a>
                </div>
        </div>
    </div>
</section>

<section class="pt-14 pb-5">
    <div class="container">
        <h2>The vision</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid illum iure omnis culpa eius, eligendi ullam a tempore non quibusdam voluptatum laboriosam cumque error natus velit similique nihil doloremque quis!</p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Get Involved</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid illum iure omnis culpa eius, eligendi ullam a tempore non quibusdam voluptatum laboriosam cumque error natus velit similique nihil doloremque quis!</p>
        <a href="" class="cta-primary">Join Gitter Community</a>
    </div>
</section>