---
route: 
    en: '/en/'
    lo-ip: '/lo-ip/'
name: 'homepage'
---

{{ page.data | log }}

{% from 'sections/hero.html' import hero %}
{% from 'grid.html' import grid %}
{% from 'components/card.html' import card %}
{% from 'sections/section.html' import section %}
{% from 'elements/cta.html' import cta %}
{% from 'components/callout.html' import callout %}

{{ hero(
    preheading='.hero.preheading' | localize,
    heading='.hero.heading' | localize,
    body='.hero.body' | localize | markdown,
    cta_url='.hero.cta_url' | localize,
    cta_text='.hero.cta_text' | localize,
    mods=['overlap-xl']
) }}

{%- call section(mods=[], width='full') -%}
    <div class="container">
        <div class="px-5 md:px-12">
            <h2>{{ '.stacIsFor.heading' | localize }}</h2>
        </div>
    </div>
    <div class="container--wide text-left">
        {%- call grid() -%}
            {%- call card(mods=['blue-700']) -%}
                <h3>{{ '.stacIsFor.group1.heading' | localize }}</h3>
                <p>{{ '.stacIsFor.group1.body' | localize }}</p>
                {{ cta(url='.stacIsFor.group1.cta_url' | localize) }}
            {%- endcall -%}
            {%- call card(mods=['blue-700']) -%}
                <h3>{{ '.stacIsFor.group2.heading' | localize }}</h3>
                <p>{{ '.stacIsFor.group2.body' | localize }}</p>
                {{ cta(url='.stacIsFor.group2.cta_url' | localize) }}
            {%- endcall -%}
            {%- call card(mods=['blue-700']) -%}
                <h3>{{ '.stacIsFor.group3.heading' | localize }}</h3>
                <p>{{ '.stacIsFor.group3.body' | localize }}</p>
                {{ cta(url='.stacIsFor.group3.cta_url' | localize) }}
            {%- endcall -%}
        {%- endcall -%}
    </div>
{%- endcall -%}

{%- call section() -%}
        <h2>{{ '.moreAboutStac.heading' | localize }}</h2>
        {{ '.moreAboutStac.body' | localize | markdown | safe }}
        {{ cta(mods=['secondary'], url='.moreAboutStac.cta_url' | localize) }}
{%- endcall -%}

{%- call section(width="full") -%}
    <div class="container">
        <h2>{{ '.tutorials.heading' | localize }}</h2>
        {{ '.tutorials.body' | localize | markdown | safe }}
    </div>
    <div class="container">
            <div class="card py-5 px-8 bg-blue-100">
                <h3>Getting Started</h3>
                <ul class="p-0">
                    {%- for tutorial in collections.tutorial | fromCategoryTree('getting-started', locale) -%}
                        <li class="list-none border-l-8 border-blue-400 py-0 px-3 my-5 rounded-sm">
                            <h4 class="inline-block mr-5 my-0">{{ tutorial.data.title }}</h4>
                            <a href="{{ tutorial.data.page.url }}">Read Tutorial</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="card py-5 px-8 bg-blue-100">
                <h3>Notebooks</h3>
                <ul class="p-0">
                    {%- for tutorial in collections.tutorial | fromCategoryTree('notebooks', locale) -%}
                        <li class="list-none border-l-8 border-blue-400 py-0 px-3 my-5 rounded-sm">
                            <h4 class="inline-block mr-5 my-0">{{ tutorial.data.title }}</h4>
                            <a href="{{ tutorial.data.page.url }}">Read Tutorial</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
    </div>
    <div class="container">
        {{ cta(mods=['secondary'], url='routes.tutorials.href' | localize, text="Browse All") }}
    </div>
{%- endcall -%}

<section class="section section--tall">
    <div class="container pb-3">
        <h2>{{ '.organizations.heading' | localize }}</h2>
    </div>
    <div class="px-5 md:px-12 pb-7">
        <div class="flex justify-between items-center">
            <div class="md:w-64 m-3">{% image 'assets/images/company-logos/planet.png', 'Planet logo', '300px' %}</div>
            <div class="md:w-64 m-3">{% image 'assets/images/company-logos/radiant-earth.png', 'radiant earth logo', '300px' %}</div>
            <div class="md:w-64 m-3">{% image 'assets/images/company-logos/microsoft.png', 'Microsoft logo', '300px' %}</div>
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/element84.png', 'element84 logo', '300px' %}
            </div>
        </div>
        <div class="flex justify-between items-center md:-mx-3">
            
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/sparkgeo.png', 'sparkgeo logo', '300px' %}
            </div>
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/maxar-technologies.png', 'maxar technologies logo', '300px' %}
            </div>
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/arturo.jpeg', 'element84 logo', '300px' %}
            </div>
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/usgs.png', 'usgs logo', '300px' %}
            </div>
            <div class="md:w-48 m-3">
                {% image 'assets/images/company-logos/cosmiqworks.png', 'cosmiqworks logo', '300px' %}
            </div>
        </div>

        <div class="flex justify-between items-center md:-mx-3">
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/aws.png', 'aws logo', '300px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/digital-earth-africa.png', 'digital earth africa logo', '300px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/world-bank-group.png', 'aws logo', '300px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/azavea.png', 'digital earth africa logo', '300px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/nasa.png', 'NASA  logo', '300px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/umbra.png', 'Umbra logo', '150px' %}
            </div>
            <div class="md:w-24 m-3">
                {% image 'assets/images/company-logos/open-eo.png', 'Open EO logo', '150px' %}
            </div>
        </div>

        <div class="flex justify-between items-center md:-mx-3">
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/pixel8.svg', 'Pixel 8 logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/development-seed.png', 'Development Seed logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/cbers.jpeg', 'CBERS: China Brazil Earth Research Satellite logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                <img src='/public/images-original/company-logos/astraea.webp'  alt='Astraea logo' />
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/near-space-lab.png', 'Near Space Labs logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/the-climate-corporation.svg', 'The Climate Corporation logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/vulcan-technology.png', 'Vulcan Technology logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/l3-harris.svg', 'L3 Harris logo', '150px' %}
            </div>
            <div class="md:w-20 m-3">
                {% image 'assets/images/company-logos/google-earth-engine.png', 'Google Earth Engine', '150px' %}
            </div>
        </div>
    </div>
</section>

{%- call section(mods=['tall', 'dark'], width="full") -%}
    <div class="container">
        <h2>{{ '.datasets.heading' | localize }}</h2>
        {{ '.datasets.content_after' | localize | markdown | safe }}
    </div>
    <div class="container--wide py-5">
        {%- call grid(3) -%}
            {%- for i in range(0,12) -%}
                <div class="card card--blue mt-0 mb-5 p-5 flex items-center">
                    <div>
                        <h3 class="text-base mt-0"><a href="{{ catalogs[i].url }}">{{ catalogs[i].title }}</a></h3>
                        <span class="px-3 py-1 rounded-lg font-bold {{ 'bg-blue-500 text-white' if catalogs[i].access === 'public' else 'bg-blue-800' }}">{{ 'Public' if catalogs[i].access === 'public' else 'Protected' }}</span>
                        <span class="px-3 py-1 rounded-lg font-bold bg-blue-500">{{ 'API' if catalogs[i].isApi else 'Catalog' }}</span>
                    </div>
                </div>
            {%- endfor -%}
        {%- endcall -%}
    </div>
    <div class="container">
        {{ cta(url='.datasets.cta_url' | localize, text='.datasets.cta_text' | localize, mods=['secondary']) }}
    </div>
{%- endcall -%}

{%- call section(mods=['tall', 'dark'], width="full") -%}
    <div class="container">
        <h2>{{ '.tools.heading' | localize }}</h2>
        {{ '.tools.content_after' | localize | markdown | safe }}
    </div>
    <div class="container--wide py-5">
        {% call grid(2) %}
            {% call card(mods=['blue']) %}
                <h3 class="text-blue-100">Client tools & resources</h3>
                <table class="w-full table-auto">
                    {%- for item in ecosystem | stacIndexCategory('Client') -%}
                        {%- if loop.index0 < 7 -%}
                            <tr>
                                <td class="p-2 {{ 'border-t' if loop.index0 !== 0 }} border-blue-400">
                                    <h3 class="text-base mt-0 mb-3">
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    </h3>
                                </td>
                                <td class="p-2 {{ 'border-t' if loop.index0 !== 0 }} border-blue-400 text-right">
                                    {%- for cat in item.categories -%}
                                        {% if (loop.index0 < 3 and cat !== 'Client') %}
                                            <span class="px-3 py-1 rounded-lg inline-block font-bold bg-blue-500 mr-2 my-1">{{ cat }}</span>
                                        {% endif %}
                                    {%- endfor -%}
                                </td>
                            </tr>
                        {%- endif -%}
                    {%- endfor -%}
                </table>
            {% endcall %}

            {% call card(mods=['blue']) %}
                <h3 class="text-blue-100">Server tools & resources</h3>
                <table class="w-full table-auto">
                    {%- for item in ecosystem | stacIndexCategory('Server') -%}
                        {%- if loop.index0 < 7 -%}
                            <tr>
                                <td class="p-2 {{ 'border-t' if loop.index0 !== 0 }} border-blue-400">
                                    <h3 class="text-base mt-0 mb-3">
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    </h3>
                                </td>
                                <td class="p-2 {{ 'border-t' if loop.index0 !== 0 }} border-blue-400 text-right">
                                    {%- for cat in item.categories -%}
                                        {% if (loop.index0 < 3 and cat !== 'Client') %}
                                            <span class="px-3 py-1 rounded-lg inline-block font-bold bg-blue-500 mr-2 my-1">{{ cat }}</span>
                                        {% endif %}
                                    {%- endfor -%}
                                </td>
                            </tr>
                        {%- endif -%}
                    {%- endfor -%}
                </table>
            {% endcall %}
        {% endcall %}

    </div>
    <div class="container">
        {{ cta(url='.tools.cta_url' | localize, text='.tools.cta_text' | localize, mods=['secondary']) }}
    </div>
{%- endcall -%}

{%- call section(mods=['tall', 'blue']) -%}
    <h2>{{ '.getInvolved.heading' | localize }}</h2>
    {{ '.getInvolved.body' | localize | markdown | safe }}
    {{ cta(url='.getInvolved.cta_url' | localize, text=".getInvolved.cta_text" | localize) }}
{%- endcall -%}
