{% from 'grid.html' import grid %}

<footer class="site-footer">
    <div class="container--wide">
        <div class="site-footer__primary grid grid-cols-12">
            <div class="col-span-12">
                <ul class="pl-0 flex flex-wrap sm:flex-row justify-center items-center list-none">
                    <li class="w-full sm:w-auto text-center mb-4 sm:mb-0">
                        <a class="w-28 inline-block" href="/{{locale}}/">
                            {% image 'assets/images/STAC-04.png', 'stac logo', '300px' %}
                        </a>
                    </li>
                    {% for navLink in tt.navigation.footerNav.main.links %}
                        {% set contentId = 'navigation.footerNav.main.links.' + loop.index0  %}
                        <li class="px-4 mx-4"><a class="cta--understated-alt" href="{{ (contentId + '.href') | localize }}">{{ (contentId + '.label') | localize }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="site-footer__additional sm:grid md:grid-cols-12 sm:grid-cols-6 gap-4 sm:border-t border-blue-800 pb-9 sm:pt-9">
            <div class="col-span-3">
                {{ 'navigation.footerNav.column1.content' | localize | markdown | safe }}
                <ul class="grid grid-cols-1">
                    {% for navLink in tt.navigation.footerNav.column1.links %}
                        {% set contentId = 'navigation.footerNav.column1.links.' + loop.index0  %}
                        <li><a href="{{ (contentId + '.href') | localize }}">{{ (contentId + '.label') | localize }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-span-3">
                {{ 'navigation.footerNav.column2.content' | localize | markdown | safe }}
                <ul class="grid grid-cols-1">
                    {% for navLink in tt.navigation.footerNav.column2.links %}
                        {% set contentId = 'navigation.footerNav.column2.links.' + loop.index0  %}
                        <li><a href="{{ (contentId + '.href') | localize }}">{{ (contentId + '.label') | localize }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-span-6">
                {{ 'navigation.footerNav.column3.content' | localize | markdown | safe }}
                <ul class="sm:grid sm:grid-cols-2">
                    {% for navLink in tt.navigation.footerNav.column3.links %}
                        {% set contentId = 'navigation.footerNav.column3.links.' + loop.index0  %}
                        <li><a href="{{ (contentId + '.href') | localize }}">{{ (contentId + '.label') | localize }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>  
    </div>
    <p class="bg-blue-dark text-blue-200 text-center mb-0 mt-4 py-4">This work is licensed under a Creative Commons Attribution 4.0 International License.</p>
</footer>
