<aside 
    class="tutorials-sidebar bg-blue" 
    x-data="tutorialsSidebar"
    @resize.window="handleResize"
>
    <div class="p-5 flex justify-center md:hidden bg-blue-100">
        <button @click="toggleMenu()" class="cta cta--understated mb-0">
            <span x-text="showMenu ? 'Hide Tutorials' : 'Show More Tutorials'"></span>
            <span x-show="!showMenu" class="ml-2">{{ icon("caret-down-solid", size="3") }}</span>
            <span x-show="showMenu" class="ml-2">{{ icon("caret-up-solid", size="3") }}</span>
        </button>
    </div>
    <nav x-show="showMenu" x-collapse>
        <div class="p-5 bg-blue-100">
            <h2 class="mt-0 mb-2 text-blue-800 text-xl">{{ 'navigation.tutorialsNav.heading' | localize }}</h2>
            <div class="pl-3 border-l-2 border-blue-300">
                <a href="{{ 'routes.tutorials.href' | localize }}"
                class="tutorials-sidebar__tutorial-link text-blue-800 border-0"
                >{{ 'navigation.tutorialsNav.homeLabel' | localize }}</a>
            </div>
        </div>
        <div class="bg-blue p-5">
            {% for slug in tt.navigation.tutorialsNav.categories %}
                {% set navCategorySlug = ('navigation.tutorialsNav.categories.' + loop.index0) | localize %}
                {% set categoryTutorials = collections.tutorial | fromCategoryTree(navCategorySlug, locale) %}
                {% set categoryName = ('categories.' + navCategorySlug + '.name') | localize %}
                <div>
                    <h3 class="tutorials-sidebar__category-heading" 
                        @click="toggleCategory('{{ navCategorySlug }}')"
                        @keyup.enter="toggleCategory('{{ navCategorySlug }}')"
                        {% if (navCategorySlug === postCategorySlug) %}x-init="toggleCategory('{{ navCategorySlug }}')"{% endif %}
                        tabindex="0"
                        x-cloak
                    >
                        <span class="tutorials-sidebar__category-heading__text">
                            {{ categoryName }} 
                            <span :class="activeCategories.indexOf('{{ navCategorySlug }}') !== -1 ? 'tutorials-nav__category-icon tutorials-nav__category-icon--active' : 'tutorials-nav__category-icon'">
                                {{ icon('caret-down-solid', size="3", color='blue-100') }}
                            </span>
                        </span>
                    </h3>

                    <ul class="pl-3 border-l-2 border-blue-300 m-0"
                        x-show="activeCategories.indexOf('{{ navCategorySlug }}') !== -1" 
                        x-collapse.duration.200ms
                        {% if (navCategorySlug !== postCategorySlug) %}x-cloak{% endif %}
                    >
                        {%- for tutorial in categoryTutorials -%}
                            <li class="tutorials-sidebar__tutorial-item">
                                <a href="{{tutorial.data.page.url}}"
                                    class="tutorials-sidebar__tutorial-link"
                                >{{ tutorial.data.title }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </nav>
</aside>