@layer components {
    .card {
        @apply shadow-card rounded-lg mt-5 mb-6;
    }

    .card-body {
        @apply py-3 px-6;
    }

    .callout {
        @apply px-4 sm:px-6 mt-5 mb-4 pt-1 pb-2;
        border-left-width: 1rem;
    }

    .icon-callout {
        @apply flex spacing-normal border-none;
        align-items: top;
    }
    
    .alert {
        @apply pl-6 pr-4 py-3 mt-6 mb-5;
        border-left-width: 1rem;
    }
}

.alert-info {
    @apply alert border-info bg-info-light;
}

.alert-success {
    @apply alert border-success bg-success-light;
}

.alert-warning {
    @apply alert border-warning bg-warning-light;
}

.alert-danger {
    @apply alert border-danger bg-danger-light;
}

.card--light    { @apply bg-blue-100; }
.card--blue     { @apply bg-blue text-white; }
.card--blue-700 { @apply bg-blue-700 text-white; }
.card--dark     { @apply bg-blue-dark text-white; }
.card--black    { @apply bg-black text-white; }
.card--center   { @apply text-center; }
.card--left     { @apply text-left; }

.card-image {
    @apply w-full;
}

.card-image-left {
    @apply -ml-6 -my-3 mr-3 w-full;
}

.callout--light { @apply border-blue-light; }
.callout--blue  { @apply border-blue; }
.callout--black { @apply border-black; }
.callout--dark { @apply border-blue-dark; }

.callout--info,
.icon-callout--info { @apply bg-info-light border-info; }

.callout--warning,
.icon-callout--warning { @apply bg-warning-light border-warning; }

.callout--danger,
.icon-callout--danger { @apply bg-danger-light border-danger; }