@layer components {
    .cta {
        @apply inline-block py-2 font-display font-medium spacing-normal;
    }

    .button {
        @apply px-4 shadow-button rounded-sm border-2 font-medium;
    }
    	
	.field {
		@apply bg-white w-full py-2 px-4 font-medium rounded-sm border border-2 border-gray 
			focus:outline-none focus:border-black;
	}

	.field::placeholder {
		@apply text-gray;
	}

    .caption {
        @apply font-display my-3;
    }
}

a {
    @apply text-green font-bold;
}

label {
    @apply font-display;
}

.caption-xl {
    @apply caption text-xl;
}

.caption-lg {
    @apply caption text-lg;
}

.cta--primary,
.cta-primary { @apply cta button bg-green text-white border-green; }

.cta--secondary,
.cta-secondary { @apply cta button text-green border-green; }

.cta--understated,
.cta-understated { @apply cta text-green border-b-2 border-green mt-0; }

.cta--understated-alt,
.cta-understated-alt { @apply cta text-blue-100 border-b-2 border-green mt-0 font-bold; }

.cta--lg,
.cta-lg { @apply cta text-lg py-2 px-5; }


code {
    @apply mx-2;
}

pre[class^="language-"] {
    @apply mt-6 mb-8;
}

table {
    @apply w-full;
    overflow-x: auto;
}

@media (max-width: theme('screens.md')) {
    table {
        display: block;
    }
}

th {
    @apply py-2 px-4 text-left;
}

td {
    @apply py-2 sm:px-4 text-left;
    border-top: 1px solid theme('colors.gray.light');
    min-width: 125px;
}

iframe {
    max-width: 100%;
}