<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    {% include 'head.html' %}
    <title>STAC | {{ title }}</title>
  </head>
  <body class="bg-white">
      <div class="topbar">
          <div class="container flex justify-end">
            <a class="text-blue-dark ml-4 font-bold" href="{{ route['en'] }}">English</a>
            <a class="text-blue-dark ml-4 font-bold" href="{{ route['lo-ip'] }}">Lorem</a>
          </div>
      </div>  
      {% include 'nav.html' %}
      <main style="min-height: calc(100vh - 175px);">
        {{ content | safe }}
      </main>
      {% include 'footer.html' %}
  </body>
</html>
