{% from 'elements/icon.html' import icon %}
{% set postCategorySlug = categorySlug if categorySlug else "getting-started" %}

<!doctype html>
<html lang="{{ locale }}">
  <head>
    {% include 'head.html' %}
    <title>{{ title }} | STAC</title>
  </head>
  <body>
    <div class="topbar">
      <div class="container flex justify-end">
        <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('en') }}">English</a>
        <a class="text-blue-dark ml-4 font-bold" href="{{ collections.tutorial | getLocalizedTutorial('lo-ip') }}">Lorem</a>
      </div>
    </div>
    {%- include 'nav.html' -%}
    <div class="md:flex">
      <aside class="tutorials-sidebar bg-blue" x-data="tutorialsSidebar">
        <nav>
          <h2 class="mt-0 text-blue-50 text-2xl">Browse Tutorials</h2>

          <a 
            href="{{ 'routes.tutorials.href' | localize }}"
            class="tutorials-sidebar__tutorial-link pl-3 border-l-2 border-blue-300"
          >{{ 'routes.tutorials.name' | localize }}</a>
          
          {% for slug in tt.navigation.tutorialsNav.categories %}
            {% set navCategorySlug = ('navigation.tutorialsNav.categories.' + loop.index0) | localize %}
            {% set categoryTutorials = collections.tutorial | fromCategoryTree(navCategorySlug, locale) %}
            <h3 
              class="tutorials-sidebar__category-heading" 
              @click="toggleCategory('{{ navCategorySlug }}')"
              {% if (navCategorySlug === postCategorySlug) %}x-init="toggleCategory('{{ navCategorySlug }}')"{% endif %}
            >
              {{ ('categories.' + navCategorySlug + '.name') | localize }} <span class="ml-3">{{ icon('caret-down-solid', size="3", color='blue-dark') }}</span>
            </h3>

            <ul 
              class="pl-3 border-l-2 border-blue-300" 
              x-show="activeCategories.indexOf('{{ navCategorySlug }}') !== -1" 
              x-collapse.duration.200ms
              {% if (navCategorySlug !== postCategorySlug) %}x-cloak{% endif %}
            >
                {%- for tutorial in categoryTutorials -%}
                    <li class="tutorials-sidebar__tutorial-item">
                      <a 
                        href="{{tutorial.data.page.url}}"
                        class="tutorials-sidebar__tutorial-link"
                      >{{ tutorial.data.title }}</a>
                    </li>
                {%- endfor -%}
            </ul>
          {% endfor %}
        </nav>
      </aside>
      <article class="tutorials-article">
        <div class="{% if(container != false) %}container{% endif %}">
          {{ content | safe }}
          {% if (content and notebooks) %}
            <div class="my-8 border-b-2 border-gray-light"></div>
          {% endif %}
          {%- for nb in notebooks -%}
            {{ nb | notebook }}
          {%- endfor -%}
        </div>
      </article>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
