.navbar {
    @apply bg-blue-100 relative;
}

.navbar__main {
    @apply items-start justify-start flex font-display w-full
}

.navbar__home {
    @apply font-normal justify-self-start text-3xl text-white mr-5;
}

.navbar__drawer {
    @apply bg-blue-100;
}

@media (max-width: theme('screens.md')) {
    .navbar__drawer {
        @apply absolute pb-7;
        display: none;
        top: 100px;
        z-index: 3;
        left: 0;
        right: 0;
    }
    
    .navbar__drawer--active {
        display: block;
    }
}



.navbar__items {
    @apply m-0;
}

.navbar__item {
    @apply list-none md:inline-block;
}

.navbar__link {
    @apply text-xl text-blue-dark inline-block mt-11 pt-2 pb-2 px-3 font-bold;
}