---
title: "More About STAC"
layout: app
---

<section class="py-5">
    <div class="container">
        <div class="pt-6">
            <h1>{{ title }}</h1>
            <p class="text-xl mt-6">More detailed description of STAC Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, quo. Eos necessitatibus adipisci ad, doloremque.</p>
            <p class="text-xl mt-6">STAC Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, quo. Eos necessitatibus adipisci ad, doloremque.</p>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>The STAC Spec</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione repellat, recusandae delectus</p>
        {%- capture code -%}
{
    "stac_version": "1.0.0",
    "type": "Feature",
    "id": "20201211_223832_CS2",
    "bbox": [...],
    "geometry": {...},
    "properties": {...},
    "collection": "simple-collection",
    "links": [...],
    "assets": {...}
}
        {%- endcapture -%}
        {%- include code-block, lang: 'json', code: code -%}
        <a href="/about/stac-spec" class="cta-secondary mt-4">Explore STAC Spec</a>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>The Problem and STAC as a Solution</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quas velit exercitationem vitae ab maiores voluptatibus itaque, incidunt excepturi dignissimos dolores, reprehenderit porro. Numquam, repellat exercitationem. Autem saepe et error.</p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>The STAC Ecosystem</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quas velit exercitationem vitae ab maiores voluptatibus itaque, incidunt excepturi dignissimos dolores, reprehenderit porro. Numquam, repellat exercitationem. Autem saepe et error.</p>
        <a href="/about/tools-resources" class="cta-secondary">Explore Tools & Resources</a>
    </div>
</section>