---
title: "The STAC Spec"
layout: app
---

<section class="py-5">
    <div class="container">
        <div class="pt-6">
            <h1>{{ title }}</h1>
            <p class="text-xl mt-6">More details about STAC spec Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, quo. Eos necessitatibus adipisci ad, doloremque.</p>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Item</h2>
        <p>An item is Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nam esse, temporibus, beatae nisi assumenda excepturi cupiditate aliquid.</p>
        {% highlight "json" %}
{
    "stac_version": "1.0.0",
    "type": "Feature",
    "id": "20201211_223832_CS2",
    "bbox": [...],
    "geometry": {...},
    "properties": {...},
    "collection": "simple-collection",
    "links": [...],
    "assets": {...}
}
        {% endhighlight %}
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Catalog</h2>
        <p>A catalog is Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nam esse, temporibus, beatae nisi.</p>
        {% highlight "json" %}
{
    "stac_version": "1.0.0",
    "type": "Catalog",
    "id": "20201211_223832_CS2",
    "description": "A simple catalog example",
    "links": [...],
}
        {% endhighlight %}
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>Collection</h2>
        <p>A collection is Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nam esse, temporibus, beatae nisi assumenda excepturi cupiditate.</p>
        {% highlight "json" %}
{
    "stac_version": "1.0.0",
    "type": "Collection",
    "license": "ISC",
    "id": "20201211_223832_CS2",
    "description": "A simple collection example",
    "links": [...],
    "extent": {...},
    "summaries": {...},
}
        {% endhighlight %}
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2>STAC API</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quia! Vel sit doloribus commodi expedita dolores a reiciendis magni facilis velit! Dolore, eveniet corporis aspernatur architecto odio amet sit fugiat?</p>
        <h3>Static API</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quia! Vel sit doloribus commodi expedita dolores a reiciendis magni facilis velit! Dolore, eveniet corporis aspernatur architecto odio amet sit fugiat?</p>
        <h3>Dynamic API</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quia! Vel sit doloribus commodi expedita dolores a reiciendis magni facilis velit! Dolore, eveniet corporis aspernatur architecto odio amet sit fugiat?</p>
    </div>
</section>