@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cta {
        @apply inline-block py-2 font-display font-medium;
    }

    .button {
        @apply px-4 shadow-button rounded-sm border-2 font-medium;
    }

    .card {
        @apply py-3 px-6 shadow-card rounded-lg;
    }

    .callout {
        @apply pl-6;
        border-left-width: 1rem;
    }
}

body { 
    @apply bg-white text-black font-sans;
    font-size: 17px;
}

h1, h2, h3, h4 {
    @apply font-display;
}

h1 { @apply text-4xl font-semibold; }
h2 { @apply text-2xl font-medium; }
h3 { @apply text-xl font-medium; }

h1, h2, h3, h4, p, ul, ol {
    @apply mt-4 mb-4;
}

ul {
    @apply pl-5 list-disc;
}

ol {
    @apply pl-5 list-decimal;
}

a {
    @apply text-green font-bold;
}

.container {
    @apply max-w-4xl mx-auto px-4;
}

.container-wide {
    @apply max-w-6xl mx-auto px-4;
}

.card-light {
    @apply card bg-blue-100;
}

.card-dark {
    @apply card bg-blue-dark text-white;
}

.card-blue {
    @apply card bg-blue text-white;
}

.callout-blue-light {
    @apply callout border-blue-light;
}

.callout-black {
    @apply callout border-black;
}

.callout-blue-dark {
    @apply callout border-blue-dark;
}

.cta-primary {
    @apply cta button bg-green text-white border-green;
}

.cta-secondary {
    @apply cta button text-green border-green;
}

.cta-understated {
    @apply cta text-green border-b-2  border-green;
}

.row {
    @apply -mx-3 flex;
}

/**
Material Oceanic
*/
 code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #c3cee3;
	font-family: Roboto Mono, monospace;
	font-size: 1em;
	line-height: 1.5em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: #c792ea;
}

.token.attr-name {
	color: #ffcb6b;
}

.token.attr-value {
	color: #c3e88d;
}

.token.attribute {
	color: #c3e88d;
}

.token.boolean {
	color: #c792ea;
}

.token.builtin {
	color: #ffcb6b;
}

.token.cdata {
	color: #80cbc4;
}

.token.char {
	color: #80cbc4;
}

.token.class {
	color: #ffcb6b;
}

.token.class-name {
	color: #f2ff00;
}

.token.color {
	color: #f2ff00;
}

.token.comment {
	color: #546e7a;
}

.token.constant {
	color: #c792ea;
}

.token.deleted {
	color: #f07178;
}

.token.doctype {
	color: #546e7a;
}

.token.entity {
	color: #f07178;
}

.token.function {
	color: #c792ea;
}

.token.hexcode {
	color: #f2ff00;
}

.token.id {
	color: #c792ea;
	font-weight: bold;
}

.token.important {
	color: #c792ea;
	font-weight: bold;
}

.token.inserted {
	color: #80cbc4;
}

.token.keyword {
	color: #c792ea;
	font-style: italic;
}

.token.number {
	color: #fd9170;
}

.token.operator {
	color: #89ddff;
}

.token.prolog {
	color: #546e7a;
}

.token.property {
	color: #80cbc4;
}

.token.pseudo-class {
	color: #c3e88d;
}

.token.pseudo-element {
	color: #c3e88d;
}

.token.punctuation {
	color: #89ddff;
}

.token.regex {
	color: #f2ff00;
}

.token.selector {
	color: #f07178;
}

.token.string {
	color: #c3e88d;
}

.token.symbol {
	color: #c792ea;
}

.token.tag {
	color: #f07178;
}

.token.unit {
	color: #f07178;
}

.token.url {
	color: #fd9170;
}

.token.variable {
	color: #f07178;
}

 /* theme overrides */

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    @apply card bg-blue-900;
}