<div class="md:flex {% if theme == 'dark' %} bg-blue-800 text-white {% endif %} {% if reversed == true %} md:flex-row-reverse {% endif %}">
    <div class="md:w-1/2">
        <img src="/public/images/satmap-lg.jpg" alt="">
    </div>
    <div class="md:w-1/2 text-center p-8 md:p-12 relative">
        <h2 class="text-4xl font-bold">
            <span class="font-light block">
                Preheading
            </span>
            This is a heading
        </h2>
        <div class="my-6">
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
        </div>
        <a class="cta-primary" href="#">Lorem Ipsum</a>
    </div>
</div>