<div class="hero-style-3">
    <div class="container">
        <div class="hero-style-3__content">
            <h2 class="hero-style-3__heading">
                <span class="font-light block">
                    Preheading
                </span>
                This is a heading
            </h2>
            <div class="hero-style-3__description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est modi corrupti a! Cum, deleniti? Illo et reprehenderit labore, eos animi explicabo ut nihil, sint ipsam tenetur nobis!</p>
            </div>
            <a class="cta-primary" href="#">Lorem Ipsum</a>
        </div>
    </div>
</div>
