{% from 'elements/icon.html' import icon as icon_component %}

{%- macro callout(mods=['blue'], icon, icon_color="blue", icon_size="20") -%}
{%- if icon -%}
    <div class="icon-callout {% for mod in mods %} icon-callout--{{mod}} {% endfor %}">
        <div class="inline-block mr-5 mt-6">
            {{ icon_component(icon, icon_size, icon_color) }}
        </div>
        <div class="w-full sm:px-4">
            {{ caller() }}
        </div>
    </div>
{%- else -%}
    <div class="callout {% for mod in mods %} callout--{{mod}} {% endfor %}">
        {{ caller() }}
    </div>
{%- endif -%}
{%- endmacro -%}