{% macro toolsTable(ecosystem, category, limit=100, hideLanguage=false) %}
<table class="w-full table-auto">
    {%- for item in ecosystem | stacIndexCategory(category) -%}
        {%- if loop.index0 < limit -%}
            <tr>
                <td class="pb-1 {{ 'border-t-0' if loop.index0 === 0 }} border-blue-400">
                    <a href="{{ item.url }}" class="text-blue-100 border-b-2 border-blue-500">{{ item.title }}</a>
                </td>
                {%- if (hideLanguage == false) -%}
                    <td class="pb-1 {{ 'border-t-0' if loop.index0 === 0 }} border-blue-400 text-center">
                        <span class="px-3 py-1 rounded-lg inline-block font-bold mr-2 my-1">{{ item.language }}</span>
                    </td>
                {%- endif -%}
                <td class="pb-1 {{ 'border-t-0' if loop.index0 === 0 }} border-blue-400 text-right hidden sm:table-cell">
                    {%- for cat in item.categories -%}
                        {% if (loop.index0 < 3 and cat !== category) %}
                            <a href="#{{ cat | replace(' ', '-') }}" class="text-white px-3 py-1 rounded-lg inline-block font-bold bg-blue-500 mr-2 my-1">{{ cat }}</a>
                        {% endif %}
                    {%- endfor -%}
                </td>
            </tr>
        {%- endif -%}
    {%- endfor -%}
</table>
{% endmacro %}